body{
    overflow-x: hidden;
    margin: 0;
    background-image: url("./Images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 150px;
}

#logo{
    float: left;
    height: 150px;
    width: 150px; 
    margin-left: 50px;
    margin-right: auto;
}

header h1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 10px;
    padding: 60px;
    margin-top: 5px;
    color:black;
}

#nav{
    position: absolute;
    top: 25px;
    right: 80px;
}

#nav a{
    display: block;
    float: right;
    text-decoration: none;
    margin-right: 10px;
    color: black;
    font-size: 18px;
    border-bottom: solid #000000;
}

#nav a:hover{
    background-color:gainsboro;
}


#pages{
    background-color: rgb(251, 198, 51);
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    margin: 0;
}

hr{
    background-color: black;
    width: 95%;
    top: 60px;
}

#pages a{
    text-decoration: none;
    margin: 40px;
    font-size: 22px;
    color: white;
}

#pages a:hover{    
    color: #000000;
    border-bottom: solid black;
}

#pages a:active{
    background-color: darkseagreen;
    color: black;
}


#museumimg1{
    position: relative;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

#museumimg2{
    position: relative;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

#museumimg{
    display: flex;
    text-align: center;
    
}

#teamuseum{
    background-image: url(./Images/museum.JPEG);
    color: rgb(0, 0, 0);
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}

#teamuseum h2{
    padding: 15px;
    text-decoration: underline;
}

#teamuseum p{
    padding: 20px;
    font-size: 15pt;
}

#museummap h2{
    padding: 15px;
    text-decoration: underline;
}

#museummap{
    margin: 20px;
    width: 70%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(140, 150, 129);
}

#museummapsec{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#teamuseummap{
    position: relative;
    width: 70%; 
    height: 350px;
    text-align: center;
    margin: 50px;
}


footer{
    background-color: #955f0e;
    background-size: cover;
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    height: 300px;
    opacity: 0.8;
}

#slteaboard{
    position: absolute;
    list-style-type: none;
    top: 80px;
    left: 150px;
    font-size: 13pt;
    
}

#slteaboardimg{
    display: flex;
    position: absolute;
    width: 60px;
    height: 80px;
    top: 70px;
    left: 60px;
}

#slteaexporters{
    position: absolute;
    top: 200px;
    left: 150px;
    font-size: 13pt;

}

#slteaexportersimg{
    display: flex;
    position: absolute;
    width: 80px;
    height: 60px;
    top: 200px;
    left: 50px;
}

footer div a{
    color: white;
    font-size: 14pt;
    padding-left: 10px;
}

#info p{
    color: white;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 10px;
    font-size: 13pt;
}

footer div a:hover{
    color: black;
    background-color: white;
}

#footerlogo{
    height: 200px;
    width: 200px;
    position: absolute;
    float: right;
    top: 50px;
    right: 50px;
}

#arr{
    position: absolute;
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
    top: 270px;
    left: 2%;
    right: 2%;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}




/*media query*/
    
/*header main topic*/
@media(max-width: 768px){
    #compnyname{
        display: flex;
        position:relative;
        text-align: center;
        width: auto;
        font-size: 18pt;
        padding: 0;
        margin: 15%;
    }
    /*main logo*/
    #logo{
        top: 30px;
        margin-left: 5px;
        width: 100px;
        height: 100px;
    }
}



/*top right corner navigation bar*/
@media(max-width: 768px){
    #nav{
        width: auto;
        right: 0;
    }
}

/*Main navigation bars*/
@media(max-width: 1310px){
    #pages a{
        margin: 20px;
    }
}

@media(max-width: 1070px){
    #pages a{
        margin: 5%;
    }
}

@media(max-width: 670px){
    #pages{
        margin: 20px;
        padding: 20px;
        text-align: center;
    }
}

@media(max-width: 768px){
    #pages a{
        margin: 20px;
        font-size: 15pt;
        line-height: 30px;
    }
    #pages{
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        background-size: cover;
        margin: 0;
    }
}

@media(max-width: 525px){
    #pages a{
        margin: 10px;
        font-size: 15pt;
        line-height: 30px;
        text-decoration: underline white;
    }
    #pages{
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        text-align:justify;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
    }
    #pages a:hover{
        text-decoration: none;
    }
}


/*tea museum images*/
@media screen and (max-width: 820px){
    #museumimg1, #museumimg2{
        display: inline-block;
        position: relative;
        object-fit: scale-down;
        width: 80%;
        height: auto;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
    }
}



    @media (max-width: 1220px) {
    #museumimg {display: block;}
}

    @media(max-width: 530px){
        #museumimg1, #museumimg2{
            margin: 5px;
        }
    }


    /*tea museum description*/
    @media(max-width: 820px){
    #teamuseum{
        left: 0;
        margin-left: 10%;
        margin-right: 10%;
        object-fit: scale-down;
        width: auto;
        height: auto;
    }
}



    /*tea museum map*/
    @media(max-width: 820px){
    #museummap{
        height: auto;
        width: auto;
        object-fit: scale-down;
        margin-left: 10%;
        margin-right: 10%;
        left: 0;
    }

    #teamuseummap{
        left: 0;
        
    }
}

@media(max-width: 500px){
    #museummap{
        text-align: center;
    }
}



@media(max-width: 390px){
    #teamuseummap{
        left: 0%;
        
    }
}

@media(max-width: 310px){
    #teamuseummap{
        left: 0%;
        margin: 20px;
    }
}


/*footer logo*/
@media(max-width: 1150px){
    #footerlogo{
        width: 100px;
        height: 100px;
        top: 15px;
        right: 10px;
    }
}


/*SL Tea board & SL Tea axporters association */
@media(max-width: 768px){
    #slteaboard{
        left: 60px;
        top: 60px;
        font-size: 12pt;
    }
    #slteaexporters{
        left: 80px;
        font-size: 12pt;
    }
}

@media screen and (max-width: 450px){
    #slteaexporters{
        top: 170px;
    }
}


/*SL tea board & SL tea exporters footer logo image*/
@media(max-width: 768px){
    #slteaboardimg{
        width: 50px;
        height: 70px;
        left: 10px;
        top: 50px;
    }
    #slteaexportersimg{
        width: 70px;
        height: 50px;
        left: 10px;
    }
}

@media screen and (max-width: 450px){
    #slteaexportersimg{
        top: 170px;
    }
}


/*footer copyright element*/
@media(max-width: 768px){
    #arr{
        font-size: 11pt;
    }
}

@media screen and (max-width: 450px){
    #arr{
        top: 250px;
    }
}


/*Ticket booking Form Design*/
#ticketBooking{
    background-color: rgba(245, 227, 162, 0.959);
    width:60%;
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1140px){
    #ticketBooking{
        width:70%;
    }
}

@media(max-width: 990px){
    #ticketBooking{
        width:80%;
    }
}

@media(max-width: 855px){
    #ticketBooking{
        width:85%;
    }
}

@media(max-width: 805px){
    #ticketBooking{
        width: 70%;
    }
    #lf{
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
        border: none;
        padding: 0;
        
    }
    #local, #foreign{
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    #Occupants{
        width: auto;
        
    }
}

#price{
    margin-top: 20px;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


@media(min-width: 355px){
    #price{
        width: 90%;
    }
}



@media(max-width: 2000px){
    #price{
        width: 40%;
    }
}

@media(max-width: 804px){
    #price{
        width: 50%;
    }
}


@media(max-width: 751px){
    #price{
        width: 60%;
    }
}


@media(max-width: 640px){
    #price{
        width: 70%;
    }
}

@media(max-width: 656px){
    #price{
        width: 80%;
    }
}


@media(max-width: 385px){
    #price{
        width: 95%;
    }
}


@media(max-width: 770px){
    #local, #foreign{
        width: 60%;
    }
}

@media(max-width: 650px){
    #local, #foreign{
        width: 70%;
    }
}

@media(max-width: 570px){
    #local, #foreign{
        width: 80%;
    }
}

@media(max-width: 505px){
    #local, #foreign{
        width: 90%;
    }
}

@media(max-width: 500px){
    #local, #foreign{
        width: 90%;
    }
    #ticketBooking{
        width: 80%;
    }
}

@media(max-width: 500px){
    #ticketBooking{
        padding: 10px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}


@media(min-width: 805px){
    #lf{
        border-radius: 8px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        border: none;
    }
    #local{
        width: 40%;
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
    }
    
    #foreign{
        width: 40%;
        border-radius: 8px;
        margin-right: auto;
        margin-left: auto;
    }

}


#local, #foreign{
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

#field{
    padding: 20px;
}

#L_FName{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#L_FName input::placeholder{
    font-style: italic;
}

#bottomButtons {
    margin-right: auto;
    margin-left: auto;
    border: none;
    text-align: center;
}

button{
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

#Occupants{
    border-radius: 8px;
    margin-bottom: 10px;
}

#NaMe{
    text-align: center;
}
#nama{
    font-style: italic;
}

#duration{
    border-radius: 8px;
    margin-bottom: 10px;
}

#extras{
    border-radius: 8px;
    margin-bottom: 10px;
}

#field #price{
    margin-left: auto;
    margin-right: auto;
}

#addToOrder, #placeOrder{
    margin: 20px;
    background-color: rgb(255, 184, 102);
    cursor: pointer;
}

#addToOrder:hover, #placeOrder:hover{
    opacity: 0.7;
}

.Occupants a {
    text-decoration: none;
    text-align: center;
    padding: 0px 10px;
    
  }
  
.Occupants a:hover {
    background-color: #ddd;
    color: black;
  }
  
.LAdultPrevious, .LChildren15Previous, .LChildren6Previous {
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }

.FAdultPrevious, .fChildPrevious{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
.LAdultNext, .LChildren15Next, .LChildren6Next{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }

.FAdultNext, .fChildNext{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.input{
    cursor: pointer;
}
  
.Occupants{
    display: flex;
    text-align: center;
    height: 20px;
  }

#price div{
    display: inline-flex;
  }

#price div p{
    margin: 10px;
    margin-top: 0%;
  }

#passSub, #tokenSub, #passAdd, #tokenAdd{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#fpassSub, #ftokenSub, #fpassAdd, #ftokenAdd{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

#extras p{
    padding: 0px;
}

#extras a{
    padding: 0px 10px;
}

#extras a:hover {
    background-color: #ddd;
    color: black;
}


/*Donation*/
#donation {
    background-image: url(./Images/Tea\ leaves.jpeg);
    border-radius: 10px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    opacity: 0.9;
}

input:not([type=radio]):not([type=checkbox]),
textarea{
    width: 250px;
    box-sizing: border-box;
    resize: none;
}

#donation label{
    width: 150px;
    display: inline-block;
}

#donation input::placeholder{
    font-style: italic;
}

#donation textarea::placeholder{
    font-style: italic;
}

input:focus, textarea:focus{
    background: lightgray;
    outline: none;
}

#donation fieldset{
    border-radius: 10px;
}

#donation button{
    margin-top: 30px;
    cursor: pointer;
    background-color: #33cd3b;
    transition:linear 0.3s;
    font-size: 13pt;
    opacity: 0.9;
}

#donbtn button:hover{
    box-shadow: inset 151px 0 0 0 #000000;
    background-color: black;
    color: white;
    opacity: 0.9;
}

#donbtn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
}

#donation h2{
    text-align: center;
}
